In [548]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
from datetime import datetime

In [549]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [550]:
len(data)

1890

In [551]:
# функция для очистки списков с названиями фильмов от кодов
def clean_title (ttl):
    srch = ' (tt'
    srch2 = ' tt'
    if srch in ttl:
        ln = ttl.rindex(srch)
        return ttl[:ln]
    elif srch2 in ttl:
        ln = ttl.rindex(srch2)
        return ttl[:ln]

In [552]:
# функция для формирования месяца
def get_month (dt):
    res_dt = datetime.strptime(dt, '%m/%d/%Y')
    return res_dt.month

In [553]:
# функция для определения длинны названия
def get_title_len (dt):
    return len(str(dt))

In [554]:
# функция для определения количества слов в названия
def get_title_words_count (dt):
    ctr = 1
    for i in dt:
        if i == ' ':
            ctr +=1
    return ctr

# Предобработка датасета

In [555]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

In [556]:
# готовим датасет для работы с прибылью
data_with_profit = data.copy()
data_with_profit['profit'] = data_with_profit['revenue'] - data_with_profit['budget']

In [557]:
# датасет с месяцами
data_with_month = data_with_profit.copy()
data_with_month['month'] = data_with_month.release_date.apply(get_month)

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [558]:
# задаем список фильмов из задания - для поиска
film_search_list = ['The Dark Knight Rises (tt1345836)',
            'Spider-Man 3 (tt0413300)',
            'Avengers: Age of Ultron (tt2395427)',
            "The Warrior's Way (tt1032751)",
            'Pirates of the Caribbean: On Stranger Tides (tt1298650)']
film_search_clean_list = []
for i in film_search_list:
    film_search_clean_list.append(clean_title(i))

In [559]:
# форматируем датасет в соответствие с заданием
df_cur_films = data[data.original_title.isin(film_search_clean_list)]
df_cur_films = df_cur_films.sort_values('budget', ascending = False)
df_cur_films = df_cur_films[['original_title','budget']].reset_index()
t = str(df_cur_films.at[0,'original_title'])

In [560]:
# выводим ответ
t

"The Warrior's Way"

In [561]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [562]:
# задаем список фильмов из задания - для поиска
film_search_list = ['The Lord of the Rings: The Return of the King (tt0167260)',
             'Gods and Generals (tt0279111)',
             'King Kong (tt0360717)',
             'Pearl Harbor (tt0213149)',
             'Alexander (tt0346491)']
film_search_clean_list = []
for i in film_search_list:
    film_search_clean_list.append(clean_title(i))

In [563]:
df_cur_films = data[data.original_title.isin(film_search_clean_list)]
df_cur_films = df_cur_films.sort_values('runtime', ascending = False)
df_cur_films = df_cur_films[['original_title','runtime']].reset_index()
t = str(df_cur_films.at[0,'original_title'])

In [564]:
# выводим ответ
t

'Gods and Generals'

In [565]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [566]:
# задаем список фильмов из задания - для поиска
film_search_list = ['Home on the Range tt0299172',
             'The Jungle Book 2 tt0283426',
             'Winnie the Pooh tt1449283',
             'Corpse Bride tt0121164',
             'Hoodwinked! tt0443536']
film_search_clean_list = []
for i in film_search_list:
    film_search_clean_list.append(clean_title(i))

In [567]:
df_cur_films = data[data.original_title.isin(film_search_clean_list)]
df_cur_films = df_cur_films.sort_values('runtime', ascending = True)
df_cur_films = df_cur_films[['original_title','runtime']].reset_index()
t = str(df_cur_films.at[0,'original_title'])

In [568]:
# выводим ответ
t

'Winnie the Pooh'

In [569]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [570]:
data.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year
count,1890.000000,1.890000e+03,1.890000e+03,1890.000000,1890.000000,1890.000000,1890.000000
mean,1.560611,5.450696e+07,1.552890e+08,109.653439,785.666667,6.140899,2007.861905
std,1.849471,4.931705e+07,2.146386e+08,18.013641,1068.725880,0.764584,4.467929
min,0.010335,5.000000e+06,2.033165e+06,63.000000,10.000000,3.300000,2000.000000
25%,0.643284,2.000000e+07,3.434007e+07,97.000000,164.000000,5.600000,2004.000000
50%,1.065065,3.800000e+07,8.358664e+07,106.500000,389.000000,6.100000,2008.000000
75%,1.804537,7.200000e+07,1.782136e+08,120.000000,937.750000,6.600000,2012.000000
max,32.985763,4.250000e+08,2.781506e+09,214.000000,9767.000000,8.100000,2015.000000

In [571]:
data.runtime.mean()

109.65343915343915

In [572]:
t = 110

In [573]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [574]:
data.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year
count,1890.000000,1.890000e+03,1.890000e+03,1890.000000,1890.000000,1890.000000,1890.000000
mean,1.560611,5.450696e+07,1.552890e+08,109.653439,785.666667,6.140899,2007.861905
std,1.849471,4.931705e+07,2.146386e+08,18.013641,1068.725880,0.764584,4.467929
min,0.010335,5.000000e+06,2.033165e+06,63.000000,10.000000,3.300000,2000.000000
25%,0.643284,2.000000e+07,3.434007e+07,97.000000,164.000000,5.600000,2004.000000
50%,1.065065,3.800000e+07,8.358664e+07,106.500000,389.000000,6.100000,2008.000000
75%,1.804537,7.200000e+07,1.782136e+08,120.000000,937.750000,6.600000,2012.000000
max,32.985763,4.250000e+08,2.781506e+09,214.000000,9767.000000,8.100000,2015.000000

In [575]:
data.runtime.median()

106.5

In [576]:
t = 106

In [577]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [578]:
# задаем список фильмов из задания - для поиска
film_search_list = ['The Avengers tt0848228',
             'Minions tt2293640',
             'Star Wars: The Force Awakens tt2488496',
             'Furious 7 tt2820852',
             'Avatar tt0499549']
film_search_clean_list = []
for i in film_search_list:
    film_search_clean_list.append(clean_title(i))

In [579]:
df_cur_films = data_with_profit[data_with_profit.original_title.isin(film_search_clean_list)]
df_cur_films = df_cur_films.sort_values('profit', ascending = False)
df_cur_films = df_cur_films[['original_title','profit']].reset_index()
t = str(df_cur_films.at[0,'original_title'])

In [580]:
# выводим ответ
t

'Avatar'

In [581]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [582]:
# задаем список фильмов из задания - для поиска
film_search_list = ['Supernova tt0134983',
             "The Warrior's Way tt1032751",
             'Flushed Away tt0424095',
             'The Adventures of Pluto Nash tt0180052',
             'The Lone Ranger tt1210819'
            ]
film_search_clean_list = []
for i in film_search_list:
    film_search_clean_list.append(clean_title(i))

In [583]:
df_cur_films = data_with_profit[data_with_profit.original_title.isin(film_search_clean_list)]
df_cur_films = df_cur_films.sort_values('profit', ascending = True)
df_cur_films = df_cur_films[['original_title','profit']].reset_index()
t = str(df_cur_films.at[0,'original_title'])

In [584]:
# выводим ответ
t

"The Warrior's Way"

In [585]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [586]:
df_cur_films = data[data.revenue > data.budget]
df_cur_films.original_title.count()

1478

In [587]:
t = 1478

In [588]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [589]:
# задаем список фильмов из задания - для поиска
film_search_list = ['Madagascar: Escape 2 Africa tt0479952',
             'Iron Man tt0371746',
             'Kung Fu Panda tt0441773',
             'The Dark Knight tt0468569',
             'Mamma Mia! tt0795421'
            ]
film_search_clean_list = []
for i in film_search_list:
    film_search_clean_list.append(clean_title(i))

In [590]:
df_cur_films = data_with_profit[data_with_profit.original_title.isin(film_search_clean_list)]
df_cur_films = df_cur_films[df_cur_films.release_year == 2008]
df_cur_films = df_cur_films.sort_values('profit', ascending = False)
df_cur_films = df_cur_films[['original_title','profit']].reset_index()
t = str(df_cur_films.at[0,'original_title'])

In [591]:
# выводим ответ
t

'The Dark Knight'

In [592]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [593]:
# задаем список фильмов из задания - для поиска
film_search_list = ["Winter's Tale tt1837709",
             'Stolen tt1656186',
             'Broken City tt1235522',
             'Upside Down tt1374992',
             'The Lone Ranger tt1210819'
            ]
film_search_clean_list = []
for i in film_search_list:
    film_search_clean_list.append(clean_title(i))

In [594]:
years_spis = [i for i in range (2012,2015)]

In [595]:
df_cur_films = data_with_profit[data_with_profit.original_title.isin(film_search_clean_list)]
df_cur_films = df_cur_films[df_cur_films.release_year.isin(years_spis)]
df_cur_films = df_cur_films.sort_values('profit', ascending = True)
df_cur_films = df_cur_films[['original_title','profit']].reset_index()
t = str(df_cur_films.at[0,'original_title'])

In [596]:
# выводим ответ
t

'The Lone Ranger'

In [597]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [598]:
genres_list = ['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller']
genres_dict={}
for gnr in genres_list:
    genres_dict[gnr] = 0

In [599]:
def convert_res (res):
    if res == True:
        return 1
    else:
        return 0

In [600]:
df_cur_films = data.copy()
for gnr in genres_list:
    df_cur_films[gnr]=df_cur_films.genres
    df_cur_films[gnr] = df_cur_films[gnr].str.contains(gnr, na=False)
    df_cur_films[gnr] = df_cur_films[gnr].apply(convert_res)
    genres_dict[gnr] = df_cur_films[gnr].sum()
genres_dict

{'Action': 583, 'Adventure': 416, 'Drama': 782, 'Comedy': 683, 'Thriller': 597}

In [601]:
# вводим ответ
t = 'Drama'

In [602]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [603]:
genres_list = ['Drama', 'Comedy', 'Action', 'Thriller', 'Adventure']
genres_dict={}
for gnr in genres_list:
    genres_dict[gnr] = 0

In [604]:
def convert_res (res):
    if res == True:
        return 1
    else:
        return 0

In [605]:
df_cur_films = data_with_profit[data_with_profit.profit > 0].copy()
for gnr in genres_list:
    df_cur_films[gnr]=df_cur_films.genres
    df_cur_films[gnr] = df_cur_films[gnr].str.contains(gnr, na=False)
    df_cur_films[gnr] = df_cur_films[gnr].apply(convert_res)
    genres_dict[gnr] = df_cur_films[gnr].sum()
genres_dict

{'Drama': 560, 'Comedy': 551, 'Action': 444, 'Thriller': 446, 'Adventure': 337}

In [606]:
# вводим ответ
t = 'Drama'

In [607]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [608]:
dt_cur = pd.DataFrame(data.director.value_counts().reset_index())
dt_cur.columns = ['director', 'num_films']

In [609]:
dt_cur = dt_cur.sort_values('num_films', ascending = False)
t = dt_cur.iloc[0,0]

In [610]:
# выводим ответ
t

'Steven Soderbergh'

In [611]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [612]:
dt_cur = pd.DataFrame(data_with_profit[data_with_profit.profit > 0].director.value_counts().reset_index())
dt_cur.columns = ['director', 'num_films']

In [613]:
dt_cur = dt_cur.sort_values('num_films', ascending = False)
t = dt_cur.iloc[0,0]

In [614]:
# выводим ответ
t

'Ridley Scott'

In [615]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [616]:
dt_cur = data_with_profit.groupby('director')['profit'].sum().reset_index()
dt_cur.columns = ['director', 'sum_profit']
dt_cur = dt_cur.sort_values('sum_profit', ascending = False)

In [617]:
t = dt_cur.iloc[0,0]

In [618]:
# выводим ответ
t

'Peter Jackson'

In [619]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [620]:
actors_list = ['Emma Watson', 'Johnny Depp', 'Michelle Rodriguez', 'Orlando Bloom', 'Rupert Grint']
actors_dict={}
for actr in actors_list:
    actors_dict[actr] = 0

In [621]:
def convert_res (res):
    if res == True:
        return 1
    else:
        return 0

In [622]:
df_cur_films = data_with_profit.copy()
for actr in actors_list:
    df_cur_films[actr]= df_cur_films.cast
    df_cur_films[actr] = df_cur_films[actr].str.contains(actr, na=False)
    df_cur_films[actr] = df_cur_films[actr].apply(convert_res)*df_cur_films.profit
    actors_dict[actr] = df_cur_films[actr].sum()
actors_dict

{'Emma Watson': 6666245597,
 'Johnny Depp': 4776417000,
 'Michelle Rodriguez': 4608031235,
 'Orlando Bloom': 5148578162,
 'Rupert Grint': 6408638290}

In [623]:
l = max(actors_dict.values())

In [624]:
# вводим ответ
t = 'Emma Watson'

In [625]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [626]:
actors_list = ['Nicolas Cage', 'Danny Huston', 'Kirsten Dunst', 'Jim Sturgess', 'Sami Gayle']
actors_dict={}
for actr in actors_list:
    actors_dict[actr] = 0

In [627]:
def convert_res (res):
    if res == True:
        return 1
    else:
        return 0

In [628]:
df_cur_films = data_with_profit.copy()
for actr in actors_list:
    df_cur_films[actr]= df_cur_films.cast
    df_cur_films[actr] = df_cur_films[actr].str.contains(actr, na=False)
    df_cur_films[actr] = df_cur_films[actr].apply(convert_res)*df_cur_films.profit
    actors_dict[actr] = df_cur_films[actr].sum()
actors_dict

{'Nicolas Cage': 1598427930,
 'Danny Huston': -50921934,
 'Kirsten Dunst': 1972542719,
 'Jim Sturgess': 51906097,
 'Sami Gayle': -32893443}

In [629]:
l = min(actors_dict.values())
l

-50921934

In [630]:
# вводим ответ
t = 'Danny Huston'

In [631]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [632]:
actors_list = ['Tom Cruise', 'Mark Wahlberg', 'Matt Damon', 'Angelina Jolie', 'Adam Sandler']
actors_dict={}
for actr in actors_list:
    actors_dict[actr] = 0

In [633]:
def convert_res (res):
    if res == True:
        return 1
    else:
        return 0

In [634]:
df_cur_films = data_with_profit[data_with_profit.budget > data_with_profit.budget.mean()].copy()
for actr in actors_list:
    df_cur_films[actr]= df_cur_films.cast
    df_cur_films[actr] = df_cur_films[actr].str.contains(actr, na=False)
    df_cur_films[actr] = df_cur_films[actr].apply(convert_res)
    actors_dict[actr] = df_cur_films[actr].sum()
actors_dict

{'Tom Cruise': 15,
 'Mark Wahlberg': 14,
 'Matt Damon': 18,
 'Angelina Jolie': 16,
 'Adam Sandler': 17}

In [635]:
# вводим ответ
t = 'Matt Damon'

In [636]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [637]:
genres_list = ['Drama', 'Action', 'Thriller', 'Adventure', 'Crime']
genres_dict={}
for gnr in genres_list:
    genres_dict[gnr] = 0

In [638]:
actor_name = 'Nicolas Cage'

In [639]:
def convert_res (res):
    if res == True:
        return 1
    else:
        return 0

In [640]:
df_cur_films = data_with_profit[data_with_profit.cast.str.contains(actor_name, na=False)].copy()
for gnr in genres_list:
    df_cur_films[gnr]=df_cur_films.genres + df_cur_films.cast
    df_cur_films[gnr] = df_cur_films[gnr].str.contains(gnr, na=False)
    df_cur_films[gnr] = df_cur_films[gnr].apply(convert_res)
    genres_dict[gnr] = df_cur_films[gnr].sum()
genres_dict

{'Drama': 12, 'Action': 17, 'Thriller': 15, 'Adventure': 7, 'Crime': 10}

In [641]:
# вводим ответ
t = 'Action'

In [642]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [643]:
studio_list = ['Universal Pictures',
               'Paramount Pictures',
               'Columbia Pictures',
               'Warner Bros',
               'Twentieth Century Fox Film Corporation'
              ]
studio_dict={}
for st in studio_list:
    studio_dict[st] = 0

In [644]:
def convert_res (res):
    if res == True:
        return 1
    else:
        return 0

In [645]:
df_cur_films = data_with_profit.copy()
for st in studio_list:
    df_cur_films[st] = df_cur_films['production_companies'].str.contains(st, na=False)
    df_cur_films[st] = df_cur_films[st].apply(convert_res)
    studio_dict[st] = df_cur_films[st].sum()
studio_dict

{'Universal Pictures': 175,
 'Paramount Pictures': 122,
 'Columbia Pictures': 163,
 'Warner Bros': 183,
 'Twentieth Century Fox Film Corporation': 109}

In [646]:
# вводим ответ
t = 'Warner Bros'

In [647]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [648]:
studio_list = ['Universal Pictures',
               'Paramount Pictures',
               'Columbia Pictures',
               'Warner Bros',
               'Twentieth Century Fox Film Corporation'
              ]
studio_dict={}
for st in studio_list:
    studio_dict[st] = 0

In [649]:
def convert_res (res):
    if res == True:
        return 1
    else:
        return 0

In [650]:
df_cur_films = data_with_profit[data_with_profit.release_year == 2015].copy()
for st in studio_list:
    df_cur_films[st] = df_cur_films['production_companies'].str.contains(st, na=False)
    df_cur_films[st] = df_cur_films[st].apply(convert_res)
    studio_dict[st] = df_cur_films[st].sum()
studio_dict

{'Universal Pictures': 11,
 'Paramount Pictures': 7,
 'Columbia Pictures': 7,
 'Warner Bros': 12,
 'Twentieth Century Fox Film Corporation': 8}

In [651]:
# вводим ответ
t = 'Warner Bros'

In [652]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [653]:
studio_list = ['Warner Bros',
               'Universal Pictures',
               'Columbia Pictures',
               'Paramount Pictures',
               'Walt Disney'
              ]
studio_dict={}
for st in studio_list:
    studio_dict[st] = 0

In [654]:
def convert_res (res):
    if res == True:
        return 1
    else:
        return 0

In [655]:
df_cur_films = data_with_profit[data_with_profit['genres'].str.contains('Comedy', na=False)].copy()

In [656]:
for st in studio_list:
    df_cur_films[st] = df_cur_films['production_companies'].str.contains(st, na=False)
    df_cur_films[st] = df_cur_films[st].apply(convert_res) * df_cur_films.profit
    studio_dict[st] = df_cur_films[st].sum()
studio_dict

{'Warner Bros': 4370928916,
 'Universal Pictures': 8952422726,
 'Columbia Pictures': 7161805266,
 'Paramount Pictures': 3055625722,
 'Walt Disney': 7975933215}

In [657]:
# вводим ответ
t = 'Universal Pictures'

In [658]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [659]:
studio_list = ['Universal Pictures',
               'Warner Bros',
               'Columbia Pictures',
               'Paramount Pictures',
               'Lucasfilm'
              ]
studio_dict={}
for st in studio_list:
    studio_dict[st] = 0

In [660]:
def convert_res (res):
    if res == True:
        return 1
    else:
        return 0

In [661]:
df_cur_films = data_with_profit[data_with_profit.release_year == 2012].copy()

In [662]:
for st in studio_list:
    df_cur_films[st] = df_cur_films['production_companies'].str.contains(st, na=False)
    df_cur_films[st] = df_cur_films[st].apply(convert_res) * df_cur_films.profit
    studio_dict[st] = df_cur_films[st].sum()
studio_dict

{'Universal Pictures': 1981011579,
 'Warner Bros': 1258020056,
 'Columbia Pictures': 2501406608,
 'Paramount Pictures': 410726715,
 'Lucasfilm': -7634623}

In [663]:
# вводим ответ
t = 'Columbia Pictures'

In [664]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [665]:
df_cur_films = data_with_profit[data_with_profit['production_companies'].str.contains('Paramount Pictures', na=False)].copy()

In [666]:
df_cur_films = df_cur_films.sort_values('profit', ascending = True)

In [667]:
df_cur_films.head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.722330,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034
1124,tt0300556,1.047214,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,176,5.1,2003,-60519261
1723,tt0435705,1.068126,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,499,5.9,2007,-51788987

In [668]:
# вводим ответ
t = 'K-19: The Widowmaker'

In [669]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [670]:
df_cur_films = data_with_profit.groupby('release_year')['profit'].sum().reset_index()
df_cur_films.columns = ['release_year', 'sum_profit']

In [671]:
df_cur_films.sort_values('sum_profit', ascending = False)

    release_year   sum_profit
15          2015  18668572378
14          2014  16397812953
12          2012  16077001687
13          2013  15243179791
11          2011  14730241341
9           2009  13423744372
10          2010  13117292530
8           2008  11663881990
7           2007  11565911801
4           2004   9634180720
3           2003   9228823312
2           2002   9002361487
5           2005   8981925558
6           2006   8691077320
1           2001   7950614865
0           2000   6101399805

In [672]:
# вводим ответ
t = 2015

In [673]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [674]:
df_cur_films = data_with_profit[data_with_profit['production_companies'].str.contains('Warner Bros', na=False)].copy()
df_cur_films = df_cur_films.groupby('release_year')['profit'].sum().reset_index()
df_cur_films.columns = ['release_year', 'sum_profit']

In [675]:
df_cur_films.sort_values('sum_profit', ascending = False)

    release_year  sum_profit
14          2014  2295464519
7           2007  2201675217
8           2008  2134595031
10          2010  1974712985
11          2011  1871393682
3           2003  1855493377
9           2009  1822454136
13          2013  1636453400
4           2004  1631933725
5           2005  1551980298
1           2001  1343545668
12          2012  1258020056
2           2002  1022709901
15          2015   870368348
6           2006   620170743
0           2000   452631386

In [676]:
# вводим ответ
t = 2014

In [677]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [678]:
data_with_month.month.value_counts()

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [679]:
# вводим ответ
t = 9

In [680]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [681]:
df_cur_films = data_with_month.copy()
df_cur_films['summer_month'] = df_cur_films.month.apply(lambda x: x in [6,7,8])
df_cur_films.summer_month.value_counts()

False    1440
True      450
Name: summer_month, dtype: int64

In [682]:
# вводим ответ
t = 450

In [683]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [684]:
df_cur_films = data_with_month.copy()
df_cur_films['winter_month'] = df_cur_films.month.apply(lambda x: x in [12,1,2])
df_cur_films = df_cur_films[df_cur_films.winter_month == True]
df_cur_films.director.value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Nancy Meyers         4
                    ..
D.J. Caruso          1
Tommy Wirkola        1
Ben Garant           1
Gavin O'Connor       1
Kathryn Bigelow      1
Name: director, Length: 333, dtype: int64

In [685]:
# вводим ответ
t = 'Peter Jackson'

In [686]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [687]:
df_cur_films = data_with_month.copy()

In [688]:
df_cur_films ['year_month'] = df_cur_films.release_date.apply(get_year_month)
df_cur_films.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit,month
count,1890.000000,1.890000e+03,1.890000e+03,1890.000000,1890.000000,1890.000000,1890.000000,1.890000e+03,1890.000000
mean,1.560611,5.450696e+07,1.552890e+08,109.653439,785.666667,6.140899,2007.861905,1.007820e+08,6.935979
std,1.849471,4.931705e+07,2.146386e+08,18.013641,1068.725880,0.764584,4.467929,1.834078e+08,3.391302
min,0.010335,5.000000e+06,2.033165e+06,63.000000,10.000000,3.300000,2000.000000,-4.139124e+08,1.000000
25%,0.643284,2.000000e+07,3.434007e+07,97.000000,164.000000,5.600000,2004.000000,5.000000e+06,4.000000
50%,1.065065,3.800000e+07,8.358664e+07,106.500000,389.000000,6.100000,2008.000000,4.400020e+07,7.000000
75%,1.804537,7.200000e+07,1.782136e+08,120.000000,937.750000,6.600000,2012.000000,1.201703e+08,10.000000
max,32.985763,4.250000e+08,2.781506e+09,214.000000,9767.000000,8.100000,2015.000000,2.544506e+09,12.000000

In [689]:
month_list = [i for i in range (1, 13)]
years_list = [i for i in range (2000, 2016)]

In [690]:
res_dict={}
for yr in years_list:
    cur_dict = {}
    for mn in month_list:
        cntr = df_cur_films[(df_cur_films.release_year == yr) & (df_cur_films.month == mn)].original_title.count()
        cur_dict[mn] = cntr
    res_dict[yr] = cur_dict

In [691]:
max_in_years = {}
for y,d in res_dict.items():
    cur_max = 0
    res = 0
    for m,c in d.items():
        if c > cur_max:
            cur_max = c
            res = m
    max_in_years[y] = res
max_in_years

{2000: 12,
 2001: 10,
 2002: 12,
 2003: 4,
 2004: 4,
 2005: 9,
 2006: 9,
 2007: 9,
 2008: 10,
 2009: 9,
 2010: 9,
 2011: 9,
 2012: 9,
 2013: 9,
 2014: 12,
 2015: 9}

In [692]:
pivot = df_cur_films.pivot_table(values=['original_title'],
    index=['release_year'],
    columns=['month'],
    aggfunc='count',
    fill_value = 0)
display(pivot)

             original_title
month                    1   2   3   4   5   6   7   8   9   10  11  12
release_year
2000                      2   7   9  10   7   8   8   5   5   8   7  14
2001                      4   7   7   7   5  10  11  11   8  13   9  11
2002                      4  10  11   8   7   7   7  11   9  11   7  15
2003                      3   8   6  11   8   6   8   8   9  11   9   9
2004                      5   9   7  15   8  11   8   6  10  10   8  12
2005                      9   8   8   6  11  13  10   9  21   7  10   9
2006                      5   8  13   9   9   9   8  12  18  12   7  17
2007                      5  10  11  12   8  12   8  13  14  13  11  13
2008                      7  11   5  10   9   9  10  13  12  15   8  12
2009                     12   8  12   9   7  10   8  11  22  11  11  10
2010                      9   8  11  10   8  12   9  10  14  14  11  11
2011                     10  12  15  13  11   5  12   9  21  11  10  14
2012                      7   7  10  10  11  12   3  12  19   8   6   6
2013                     11   8  10   7  11  10  12  10  19  14   8  15
2014                      9   8  12   5  12   4   9  13   9  15   9  16
2015                      8   6   9   7   8   9  11   8  17  13  15   7

In [693]:
# вводим ответ
t = 'Сентябрь'

In [694]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [695]:
studio_list = ['Universal Pictures',
               'Warner Bros',
               'Jim Henson Company, The',
               'Paramount Pictures',
               'Four By Two Productions'
              ]
studio_dict={}
for st in studio_list:
    studio_dict[st] = 0

In [696]:
df_cur_films = data_with_month.copy()

for st in studio_list:
    df_cur_films_st = df_cur_films[df_cur_films['production_companies'].str.contains(st, na=False)].copy()
#df_cur_films_st.head()
    df_cur_films_st['title_len'] = df_cur_films_st['original_title'].apply(get_title_len)
    studio_dict[st] =  df_cur_films_st['title_len'].mean()
studio_dict

{'Universal Pictures': 14.731428571428571,
 'Warner Bros': 15.251366120218579,
 'Jim Henson Company, The': 59.0,
 'Paramount Pictures': 17.0327868852459,
 'Four By Two Productions': 83.0}

In [697]:
# вводим ответ
t = 'Four By Two Productions'

In [698]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [699]:
studio_list = ['Universal Pictures',
               'Warner Bros',
               'Jim Henson Company, The',
               'Paramount Pictures',
               'Four By Two Productions'
              ]
studio_dict={}
for st in studio_list:
    studio_dict[st] = 0

In [700]:
df_cur_films = data_with_month.copy()

for st in studio_list:
    df_cur_films_st = df_cur_films[df_cur_films['production_companies'].str.contains(st, na=False)].copy()
    df_cur_films_st['title_wrds_count'] = df_cur_films_st['original_title'].apply(get_title_words_count)
    studio_dict[st] =  df_cur_films_st['title_wrds_count'].mean()
studio_dict

{'Universal Pictures': 2.617142857142857,
 'Warner Bros': 2.73224043715847,
 'Jim Henson Company, The': 10.0,
 'Paramount Pictures': 2.8688524590163933,
 'Four By Two Productions': 12.0}

In [701]:
# вводим ответ
t = 'Four By Two Productions'

In [702]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [703]:
df_cur_films = data_with_month.copy()

In [704]:
all_wrds = []
for ttl in df_cur_films.original_title:
    cur_wrds = ttl.split(sep = ' ')
    
    for wrd in cur_wrds:
        if wrd.lower() not in all_wrds:
            all_wrds.append(wrd.lower())
len(all_wrds)

2462

In [705]:
# вводим ответ
t = 2461

In [706]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [707]:
film_list = ['Inside Out, Gone Girl, 12 Years a Slave',
             'BloodRayne, The Adventures of Rocky & Bullwinkle',
             'The Lord of the Rings: The Return of the King',
             '300, Lucky Number Slevin'
              ]
film_dict={}
for flm in film_list:
    film_dict[flm] = 0

In [708]:
df_cur_films = data_with_month.copy()
df_cur_films = df_cur_films.sort_values('vote_average', ascending = False)

In [709]:
one_percent = int(df_cur_films.original_title.count() * 0.1)

In [710]:
df_cur_films = df_cur_films.head(one_percent)

In [711]:
one_percent_films = [i for i in df_cur_films.original_title]

In [712]:
for flm in film_list:
    if flm in one_percent_films:
        film_dict[flm] = True
    else:
        film_dict[flm] = False
film_dict

{'Inside Out, Gone Girl, 12 Years a Slave': False,
 'BloodRayne, The Adventures of Rocky & Bullwinkle': False,
 'The Lord of the Rings: The Return of the King': True,
 '300, Lucky Number Slevin': False}

In [713]:
# вводим ответ
t = 'The Lord of the Rings: The Return of the King'

In [714]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [715]:
df_cur_films = data_with_month.copy()

In [716]:
act_list = ['Johnny Depp & Helena Bonham Carter',
            'Hugh Jackman & Ian McKellen',
            'Vin Diesel & Paul Walker',
            'Adam Sandler & Kevin James',
            'Daniel Radcliffe & Rupert Grint'
              ]
act_dict={}
for actrs in act_list:
    act_dict[actrs] = 0

In [717]:
def convert_res (res):
    if res == True:
        return 1
    else:
        return 0

In [718]:
def check_both (dt):
    if dt == 2:
        return 1
    else:
        return 0

In [719]:
for actrs in act_list:
    actrs_list = actrs.split(sep = ' & ')
    for actr in actrs_list:
        #print (actr)
        df_cur_films[actr] = df_cur_films['cast'].str.contains(actr, na=False)
        df_cur_films[actr] = df_cur_films[actr].apply(convert_res)

In [720]:
for actrs in act_list:
    actrs_list = actrs.split(sep = ' & ')
    df_cur_films[actrs] = df_cur_films[actrs_list[0]] + df_cur_films[actrs_list[1]]
    df_cur_films[actrs] = df_cur_films[actrs].apply(check_both)
    act_dict[actrs] = df_cur_films[actrs].sum()
act_dict

{'Johnny Depp & Helena Bonham Carter': 6,
 'Hugh Jackman & Ian McKellen': 5,
 'Vin Diesel & Paul Walker': 5,
 'Adam Sandler & Kevin James': 5,
 'Daniel Radcliffe & Rupert Grint': 8}

In [721]:
# вводим ответ
t = 'Daniel Radcliffe & Rupert Grint'

In [722]:
# добавлем ответ в список ответов
answer_ls.append(t)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [723]:
prod_list = ['Quentin Tarantino',
             'Steven Soderbergh',
             'Robert Rodriguez',
             'Christopher Nolan',
             'Clint Eastwood'
              ]
prod_dict={}
for prodr in prod_list:
    prod_dict[prodr] = 0

In [724]:
def check_profit (dt):
    if dt > 0:
        return 1
    else:
        return 0

In [725]:
df_cur_films = data_with_month.copy()
df_cur_films['profit_attr'] = df_cur_films.profit.apply(check_profit)

In [726]:
for prodr in prod_list:
    res = (df_cur_films[(df_cur_films.profit_attr == 1) & (df_cur_films.director == prodr)].original_title.count()/
    df_cur_films[df_cur_films.director == prodr].original_title.count())
    prod_dict[prodr] = res
prod_dict

{'Quentin Tarantino': 1.0,
 'Steven Soderbergh': 0.7692307692307693,
 'Robert Rodriguez': 0.8571428571428571,
 'Christopher Nolan': 1.0,
 'Clint Eastwood': 0.8333333333333334}

In [727]:
prod_dict_all = {}
for prodr in prod_list:
    prod_dict_all[prodr] = df_cur_films[df_cur_films.director == prodr].original_title.count()
prod_dict_all

{'Quentin Tarantino': 5,
 'Steven Soderbergh': 13,
 'Robert Rodriguez': 7,
 'Christopher Nolan': 8,
 'Clint Eastwood': 12}

In [728]:
# вводим ответ
t = 'Christopher Nolan'

In [729]:
# добавлем ответ в список ответов
answer_ls.append(t)

# Submission

In [730]:
len(answer_ls)

36

In [731]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id                                         Answer
0    1                              The Warrior's Way
1    2                              Gods and Generals
2    3                                Winnie the Pooh
3    4                                            110
4    5                                            106
5    6                                         Avatar
6    7                              The Warrior's Way
7    8                                           1478
8    9                                The Dark Knight
9   10                                The Lone Ranger
10  11                                          Drama
11  12                                          Drama
12  13                              Steven Soderbergh
13  14                                   Ridley Scott
14  15                                  Peter Jackson
15  16                                    Emma Watson
16  17                                   Danny Huston
17  18                                     Matt Damon
18  19                                         Action
19  20                                    Warner Bros
20  21                                    Warner Bros
21  22                             Universal Pictures
22  23                              Columbia Pictures
23  24                           K-19: The Widowmaker
24  25                                           2015
25  26                                           2014
26  27                                              9
27  28                                            450
28  29                                  Peter Jackson
29  30                                       Сентябрь
30  31                        Four By Two Productions
31  32                        Four By Two Productions
32  33                                           2461
33  34  The Lord of the Rings: The Return of the King
34  35                Daniel Radcliffe & Rupert Grint
35  36                              Christopher Nolan